* {
  padding: 0;
  margin: 0;

  --app-padding: 40px;
}

.App {
  padding: var(--app-padding);
}

.Stats {
  width: 200px;
  height: 200px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid black;
  position: absolute;
  right: var(--app-padding);
  top: var(--app-padding);
}

.entity-action {
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--app-padding);
}

.entity-action > * {
  margin-right: 40px;
}

.Entity {
  display: flex;
  align-items: center;
}

.Entity .items {
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
}

.Entity .items > * { 
  margin-left: 40px;
}

.health-display {
  margin-left: 20px;
}

.health, .max-health {
  height: 30px;
}

.max-health {
  border: 2px solid black;
}

.health {
  background-color: red;
}

.emoji {
  font-size: 30px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:hover {
  transform: scale(1.2);
}

button:active {
  transform: scale(.9);
  transform: rotate(10deg);
}